.ingredients .ingredient {
  padding: 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.ingredients .ingredient:hover {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.ingredients .ingredient .ingredient__name {
  padding-top: 5px;
  cursor: default;
}

.ingredients .ingredient .ingredient__action {
  height: 35px;
}

.ingredients .ingredient .ingredient__action a,
.ingredients .ingredient .ingredient__action label {
  display: block;
  height: 35px;
  width: 30px;
  padding-top: 5px;
}

.ingredients .ingredient .ingredient__action a img,
.ingredients .ingredient .ingredient__action label img {
  height: 100%;
  cursor: pointer;
}

