.data-rows .data-row {
  padding: 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.data-rows .data-row:hover {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.data-rows .data-row .data-row__name {
  padding-top: 5px;
  cursor: default;
}

.data-rows .data-row .data-row__action {
  height: 35px;
}

.data-rows .data-row .data-row__action a,
.data-rows .data-row .data-row__action label {
  display: block;
  height: 35px;
  width: 30px;
  padding-top: 5px;
}

.data-rows .data-row .data-row__action a img,
.data-rows .data-row .data-row__action label img {
  height: 100%;
  cursor: pointer;
}

