.ingredients {
    .ingredient {
        padding: 10px;
        border-radius: 3px;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: rgba(0,0,0,.05);
            -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
        }

        .ingredient__name {
            padding-top: 5px;
            cursor: default;
        }

        .ingredient__action {
            height: 35px;

            a, label {
                display: block;
                height: 35px;
                width: 30px;
                padding-top: 5px;

                img {
                    height: 100%;
                    cursor: pointer;
                }
            }

        }
    }
}
